<mat-nav-list>
  <a mat-list-item routerLink="/home" (click)="onSidenavClose()"> <mat-icon>home</mat-icon> <span class="nav-caption">Home</span> </a>
  <a mat-list-item routerLink="/simulador" (click)="onSidenavClose()">
    <mat-icon>chevron_right</mat-icon> <span class="nav-caption">Simulador</span>
  </a>
  <a mat-list-item routerLink="/documentacion" (click)="onSidenavClose()">
    <mat-icon>chevron_right</mat-icon><span class="nav-caption">Documentacion</span>
  </a>
  <a mat-list-item routerLink="/diagrama" (click)="onSidenavClose()">
    <mat-icon>chevron_right</mat-icon><span class="nav-caption">Diagrama</span>
  </a>
</mat-nav-list>
